<div class="toolbar" id="toolbar">

    <p> EkowTheGreat © 2021</p>
    <p> EkowTheGreat © 2021</p>
    <a href="#container2"> EkowTheGreat © 2021</a>
    <p> EkowTheGreat © 2021</p>

</div>

<div class="pgContent">
    <div class="container1" id="container1">
        <div class=" container1 bg">

        </div>
        <h1 id="welcome">Welcome</h1>


        <h3 id="arrow1" class="arrow" (mouseover)="viewContainer2()">&#8595;</h3>
        <h3 id="arrow2" class="arrow">&#8659;</h3>
        <h3 id="arrow3" class="arrow">&#10225;</h3>


    </div>
    <div class="container2" id="container2">
        <div id="container2Head">
            <h2>Socials</h2>
        </div>

        <div class="verticalDisplay">
            <div class="horizontalDisplay">
                <div id="card1" class="card" (mouseover)="mouseOver('#box1', '#p1')"
                    (mouseleave)="mouseOut('#box1', '#p1')">
                    <div id="box1" class="card bg">
                        <img alt="https://icons8.com/icon/32323/instagram-logo"
                            src="https://img.icons8.com/color/240/000000/instagram-new--v1.png" />
                    </div>
                    <p id="p1">
                        @en_asante
                    </p>


                </div>
                <div id="card2" class="card" (mouseover)="mouseOver('#box2', '#p2')"
                    (mouseleave)="mouseOut('#box2', '#p2')">
                    <div id="box2" class="card bg">
                        <img  alt="https://icons8.com/icon/114450/twitter-circled" src="https://img.icons8.com/color/240/000000/twitter-circled--v1.png"/>
                    </div>
                    <p id="p5">
                        Coming soon
                    </p>
                </div>

            </div>
            <div class="horizontalDisplay">
                <div id="card3" class="card" (mouseover)="mouseOver('#box3', '#p3')"
                    (mouseleave)="mouseOut('#box3', '#p3')">
                    <div id="box3" class="card bg">
                        <img alt="https://icons8.com/icon/19318/youtube-play-button" src="https://img.icons8.com/color/240/000000/youtube-play.png"/>
                    </div>
                    <p id="p3">
                        www.youtube.com/ekowthegreat
                    </p>

                </div>
                <div id="card4" class="card" (mouseover)="mouseOver('#box4', '#p4')"
                    (mouseleave)="mouseOut('#box4', '#p4')">
                    <div id="box4" class="card bg">
                        <img src="/../assets/bass1.png" width="240px" height="240px">
                    </div>
                    <p id="p4">
                        
                        Coming Soon!
                    </p>

                </div>
            </div>
            <div class="horizontalDisplay">
                <div id="card5" class="card" (mouseover)="mouseOver('#box5', '#p5')"
                    (mouseleave)="mouseOut('#box5', '#p5')">
                    <div id="box5" class="card bg">
                        <img alt="https://icons8.com/icon/SAZw8WuWnQea/discord-bubble" src="https://img.icons8.com/fluency/240/000000/discord-new-logo.png"/>
                        
                    </div>
                    <p id="p5">
                        Discord dddddd
                    </p>

                </div>
                <div id="card6" class="card" (mouseover)="mouseOver('#box6', '#p6')"
                    (mouseleave)="mouseOut('#box6', '#p6')">
                    <div id="box6" class="card bg">
                        <img alt="https://icons8.com/icon/MFZCdvQbJtV1/twitch" src="https://img.icons8.com/color/240/000000/twitch--v1.png"/>
                    </div>
                    <p id="p6">
                        Twitch.tv/ekowthegreat
                    </p>

                </div>
            </div>
        </div>
        <div id="container2foot">
            <p>

                <a (mouseover)="displayNav('container2Modal')">---Display Navigation----</a>
            </p>

        </div>

    </div>
    <div class="container3" id="container3">
        <h2>Gallery</h2>
        <div class="verticalDisplay">

            <div class="horizontalDisplay">
                <img class="imgRectangle" src="skyfall1.png" alt="Girl in a jacket">
                <img class="imgRectangle" src="zaCI9O.jpg" alt="Girl in a jacket">
                <img class="imgRectangle" src="phonebg4.png" alt="Girl in a jacket">
            </div>

        </div>
    </div>


</div>
<div id="container2Modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content" id="container2content" (mouseleave)="hideNav('container2Modal')">

        <div class="navBg">
            <div class="navPopUp" id="nav1">
                <div (click)="viewContainer1()" (mouseover)=" mouseOverNav('#container2Btn1', '#nav2Btn1Text')"
                    (mouseleave)=" mouseOutNav('#container2Btn1', '#nav2Btn1Text')" id="container2Btn1" class="navBtn1">

                    <div id="nav2Btn1Text" class="navBtn1Text"
                        (mouseover)=" mouseOverNav('#container2Btn1', '#nav2Btn1Text')"
                        (mouseleave)=" mouseOutNav('#container2Btn1', '#nav2Btn1Text')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor"
                            class="bi bi-house-door-fill" viewBox="0 0 16 16">
                            <path
                                d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z" />
                        </svg>

                    </div>

                </div>

                <div (click)="viewContainer3()" (mouseover)=" mouseOverNav('#container2Btn2', '#nav2Btn2Text')"
                    (mouseleave)=" mouseOutNav('#container2Btn2', '#nav2Btn2Text')" id="container2Btn2" class="navBtn2">

                    <div id="nav2Btn2Text" class="navBtn2Text"
                        (mouseover)=" mouseOverNav('#container2Btn2', '#nav2Btn2Text')"
                        (mouseleave)=" mouseOutNav('#container2Btn2', '#nav2Btn2Text')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor"
                            class="bi bi-camera-fill" viewBox="0 0 16 16">
                            <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                            <path
                                d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z" />
                        </svg>

                    </div>

                </div>



            </div>
        </div>

    </div>

</div>
<div id="container3Modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content" id="container3content" (mouseleave)="hideNav('container3Modal')">

        <div class="navBg">
            <div class="navPopUp" id="nav2">
                <div (click)="viewContainer1()" (mouseover)=" mouseOverNav('#container3Btn1', '#nav3Btn1Text')"
                    (mousleave)=" mouseOutNav('#container3Btn1', '#nav3Btn1Text')" id="container3Btn1" class="navBtn1">

                    <div id="nav3Btn1Text" class="navBtn1Text"
                        (mouseover)=" mouseOverNav('#container3Btn1', '#nav3Btn1Text')"
                        (mousleave)=" mouseOutNav('#container3Btn1', '#nav3Btn1Text')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor"
                            class="bi bi-house-door-fill" viewBox="0 0 16 16">
                            <path
                                d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z" />
                        </svg>

                    </div>

                </div>

                <div (click)="viewContainer2()" (mouseover)=" mouseOverNav('#container3Btn2', '#nav3Btn2Text')"
                    (mousleave)=" mouseOutNav('#container3Btn2', '#nav3Btn2Text')" id="container3Btn2" class="navBtn2">

                    <div id="nav3Btn2Text" class="navBtn2Text"
                        (mouseover)=" mouseOverNav('#container3Btn2', '#nav3Btn2Text')"
                        (mousleave)=" mouseOutNav('#container3Btn2', '#nav3Btn2Text')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor"
                            class="bi bi-gear-fill" viewBox="0 0 16 16">
                            <path
                                d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
                        </svg>

                    </div>

                </div>



            </div>
        </div>

    </div>

</div>
<div class="bottombar">

    <a (mouseover)="displayNav('container3Modal')" (click)="displayNav('container3Modal')">---Display Navigation----</a>

</div>