<app-toolbar></app-toolbar>

<div class="pgContent">
    <div class="container1" id="container1">
        <div class=" container1bg" id="c1Bg">
            <div class=" container1bg2">

            </div>

        </div>
        <h1 id="welcome"></h1>


        <h3 id="arrow1" class="arrow" (mouseover)="viewContainer2()">&#8595;</h3>
        <h3 id="arrow2" class="arrow">&#8659;</h3>
        <h3 id="arrow3" class="arrow">&#10225;</h3>


    </div>
    <div class="container2" id="container2">

        <div class="verticalDisplay" id="c2Display">
            <div class="c2Pad">
                <h2>Social-Links</h2>
            </div>
            <div class="verticalDisplay2">
                <div class="horizontalDisplay">
                    <div id="card1" class="card" (mouseover)="mouseOver('#box1', '#p1')"
                        (mouseleave)="mouseOut('#box1', '#p1')">
                        <div id="box1" class="card bg">
                            <img alt="https://icons8.com/icon/32323/instagram-logo"
                                src="https://img.icons8.com/color/240/000000/instagram-new--v1.png" />
                        </div>



                    </div>
                    <div id="card2" class="card" (mouseover)="mouseOver('#box2', '#p2')"
                        (mouseleave)="mouseOut('#box2', '#p2')">
                        <div id="box2" class="card bg">
                            <img alt="https://icons8.com/icon/114450/twitter-circled"
                                src="https://img.icons8.com/color/240/000000/twitter-circled--v1.png" />
                            
                        </div>


                    </div>

                </div>
                <div class="horizontalDisplay">
                    <div id="card3" class="card" (mouseover)="mouseOver('#box3', '#p3')"
                        (mouseleave)="mouseOut('#box3', '#p3')">
                        <div id="box3" class="card bg">
                            <img alt="https://icons8.com/icon/19318/youtube-play-button"
                                src="https://img.icons8.com/color/240/000000/youtube-play.png" />
                        </div>


                    </div>
                    <div id="card4" class="card" (mouseover)="mouseOver('#box4', '#p4')"
                        (mouseleave)="mouseOut('#box4', '#p4')">
                        <div id="box4" class="card bg">
                            <img src="/../assets/bass1.png">
                            
                        </div>


                    </div>
                </div>
                <div class="horizontalDisplay">
                    <div id="card5" class="card" (mouseover)="mouseOver('#box5', '#p5')"
                        (mouseleave)="mouseOut('#box5', '#p5')">
                        <div id="box5" class="card bg">
                            <img alt="https://icons8.com/icon/SAZw8WuWnQea/discord-bubble"
                                src="https://img.icons8.com/fluency/240/000000/discord-new-logo.png" />

                        </div>


                    </div>
                    <div id="card6" class="card" (mouseover)="mouseOver('#box6', '#p6')"
                        (mouseleave)="mouseOut('#box6', '#p6')">
                        <div id="box6" class="card bg">
                            <img alt="https://icons8.com/icon/MFZCdvQbJtV1/twitch"
                                src="https://img.icons8.com/color/240/000000/twitch--v1.png" />
                        </div>


                    </div>
                </div>
            </div>
            <div class="c2Pad">
                <h2></h2>
            </div>
        </div>


        <div id="container2foot">
            <div class="footBtn">
                <p>

                    <a onclick="displayNav('container2Modal')" (click)="displayNav('container2Modal')"
                    >---Display Navigation----</a>
                </p>
            </div>


        </div>

    </div>
    <div class="container3" id="container3">

        <div class="verticalDisplay" id="c3Display">
            <div class="c3Pad">
                <h2>Exibition</h2>
            </div>
            <div id="playerContainer">
                <app-player></app-player>
            </div>

            
            <div class="c3Pad">
                
            </div>


        </div>
        <div class="bottombar">
            <div class="footBtn">
                <p>
                    <a onclick="displayNav('container3Modal')" (click)="displayNav('container3Modal')">---Display
                        Navigation----
                    </a>
                </p>
        
            </div>
        
        
        
        </div>
    </div>


</div>
<app-navigation></app-navigation>
