<div class="pgContent">
    <div class="background1"></div>
    <div class="container">
        <div class="background2">
            <div class="container1">
                <div class="links">
                    <div class="basLink2" id="logo" [routerLink]="['/home']">
                    </div>
                    <div class="basLink2" id="spacer">
                    </div>
                    <div class="basLink2" id="spacer">
                    </div>
                    <div class="basLink2" id="spacer">
                    </div>
                    <div class="basLink2" >
                        <a href="https://www.instagram.com/b4silisk/">
                            <div class="basLink2Bg">
                                <img alt="https://icons8.com/icon/32323/instagram-logo"
                                    src="https://img.icons8.com/color/240/000000/instagram-new--v1.png" />
                            </div>
                        </a>
                        

                    </div>
                    <div class="basLink2">

                        <div class="basLink2Bg">
                            <img alt="https://icons8.com/icon/118640/tiktok"
                                src="https://img.icons8.com/color/240/000000/tiktok--v1.png" />
                        </div>
                    </div>
                    <div class="basLink2">

                        <div class="basLink2Bg">
                            <img alt="https://icons8.com/icon/br7VK5sjdFtf/email"
                                src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/256/fa314a/external-email-interface-kiranshastry-solid-kiranshastry.png" />
                        </div>
                    </div>
                </div>

            </div>
            <div class="container2">


                <div class="writing">
                    <h1>Basilisk Media</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. </p>


                </div>

            </div>


        </div>
    </div>

</div>