<div class="toolbar" id="toolbar">
    <div id="logo">

    </div>
    <div id="middle">

    </div>
    <div id="buttons">
        <div class="button">
            <a href="https://www.instagram.com/en_asante/">
                <img alt="https://icons8.com/icon/32323/instagram-logo"
            src="https://img.icons8.com/color/240/000000/instagram-new--v1.png" />
            </a>
            
        </div>
        <div class="button">
            
            <img alt="https://icons8.com/icon/19318/youtube-play-button"
                                src="https://img.icons8.com/color/240/000000/youtube-play.png" />
        </div>
        <div class="button" [routerLink]="['/basilisk']">
            
            <img alt="Basilisk"
                                src="/../assets/BasMan4.png" />
        </div>

    </div>




</div>