#logo
    
    background-image: url('/../assets/LogoRing(cream).png')
    background-repeat: no-repeat
    background-position: center
    background-size: contain
    width: 10vw
#logo:hover
    background-image: url('/../assets/logoBadge3.png')
    background-color: white
#middle
    width: 60vw
#buttons
    width: 30vw
    display: flex
    flex-direction: row
    justify-content: space-evenly
.button
    text-align: center
    width: -webkit-fill-available
    
.button:hover
    background-color: white
