<div class="container">
    <div class="verticalDisplay" id="cDisplay">
        <div class="cPad"></div>
        <div class="verticalDisplay2">
            <div class="innerView">
                <h1 class="word" id="line1">
                    > This domain is controlled by EkowTheGreat
                    

                </h1>
                <h1 class="word" id="line2" data-text="Proceed at your own Risk">
                    > Proceed at your own
                    <span id="word2" style="color: red">Risk</span>
                </h1>
                <h1 class="word" id="line3" data-text="Press home button to enter site">
                    > Press <span class="material-icons" id="word3" style="color: blue">home</span> button to enter site

                </h1>
            </div>
        </div>
        <div class="cPad">

            <div class="lightShow" id="lightshow">

                <div class="lights" id="light1"></div>
                <div class="lights"></div>
                <div class="lights" id="light2"></div>


            </div>

            <div class="enterView" [routerLink]="['/coming-soon']">

                <i class="material-icons" id="homeBtn">home</i>

            </div>
            <div class="lightShow" id="lightshow2">

                <div class="lights" id="light3"></div>
                <div class="lights" id="light4"></div>
                <div class="lights" id="light5"></div>
                <div class="lights" id="light6"></div>

            </div>



        </div>
    </div>